<div
  class="bgimg"
  style="background-image: url('images/norway-4970081_1920.jpg');"
>
  <div class="middle">
    <h1>{{title}}</h1>
    <hr />
    <p id="counter" style="font-size:30px"></p>
    {{> components/cmp_subscribe }}
  </div>
</div>